*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 1060px;
    width: 100%;
    background: url(./img/signin.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    background: linear-gradient(172.37deg, #FFFFFF 9.7%, rgba(255, 252, 252, 0.1) 100.84%, rgba(196, 196, 196, 0) 100.85%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 30px;
    width: 727px;
    height: 714px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: 50px;
}
form{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 10px auto;
}
.signin-text{
    padding-top: 52px;
    font-weight: 900;
    font-size: 35px;
    line-height: 41px;
    text-align: center;
    color: #F56E0B;
    margin-bottom: 48px;
}
.labels{
    font-size: 24px;
    line-height: 33px;
    color: rgba(245, 110, 11, 0.8);
}
/* form{
    max-width: 541px;
} */
.username-part{
    display: flex;
    flex-direction: column;
}
input{
    background: #FFFEE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: none;
    width: 541px;
    height: 70px;
    /* width: 70%; */
    margin: 10px auto;
}
.password-part{
    display: flex;
    flex-direction: column;
}

.signin-link{
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    /* background-color: #FFC700;
     width: 166px;
    height: 36px;
    padding: 15px 40px;
    border-radius: 10px;  */
}
.signin-link-section{
    margin: 0 auto;
    margin-top: 34px;
    width: 166px;
    height: 36px;  
    width: 166px;
    height: 36px;
    background: #FFC700;
    border-radius: 10px;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center; 
}